<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>Controlador.Servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCProyect</servlet-name>
        <servlet-class>Controlador.Servlets.AddCProyect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCProyect</servlet-name>
        <servlet-class>Controlador.Servlets.DeleteCProyect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controlador.Servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCProyectGet</servlet-name>
        <servlet-class>Controlador.Servlets.EditCProyectGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCProyectDo</servlet-name>
        <servlet-class>Controlador.Servlets.EditCProyectDo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controlador.Servlets.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCProyect</servlet-name>
        <url-pattern>/AddCProyect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCProyect</servlet-name>
        <url-pattern>/DeleteCProyect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCProyectGet</servlet-name>
        <url-pattern>/EditCProyectGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCProyectDo</servlet-name>
        <url-pattern>/EditCProyectDo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
