/* 
    Created on : 22/02/2019, 12:41:06 PM
    Author     : Daniel Flores
*/

/*Guinda*/
.native-color1,
.native-hover-color1:hover {
  background-color: #800040 !important
}

/*Guinda escala de grises*/
.native-color2,
.native-hover-color2:hover {
  background-color: #404040 !important
}

/*Guinda 25% más ligero*/
.native-color3,
.native-hover-color3:hover {
  background-color: #A00050 !important
}

/*Guinda 25% más oscuro*/
.native-color4,
.native-hover-color4:hover {
  background-color: #660033 !important
}

/*Gris background estandar*/
.native-color5,
.native-hover-color5:hover {
  background-color: #E1E8ED !important
}

