/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2019, 01:21:43 PM
    Author     : Daniel Flores
*/

.native-img-container {
  height: 2rem;
  width: 2rem;
}

.native-img-container img {
  height: 92%;
}

.native-main {
  min-height: 20rem;
  height: 94vh;
}