/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2019, 01:21:43 PM
    Author     : Daniel Flores
*/

.native-img-container {
  height: 2rem;
  width: 2rem;
}

.native-img-container img {
  height: 92%;
}

.native-main {
  min-height: 20rem;
  height: 94vh;
}

.native-giant-text {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 15px #505254
}

.native-giant-text-mobile {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 15px #505254
}

.native-margin-adaptative {
  margin-top: 6vw;
}